.toolbar-top {
    display: flex;
    padding: var(--rellenoslaterales);
}

.toolbar-top .liheader {
    display: flex;

}
.toolbar-bottom .list-toolbar-bottom{
    display: flex;
    gap: 30px;
    margin-right: 10%;
}	